@charset "utf-8";
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}

a {
  text-decoration: none;
}

@f_sm: 12px;
@f_m: 14px;
@f_l: 16px;
@f_xl: 18px;
@f_xxl: 24px;
@f_xxxl: 36px;

@content_width: 1000px;

@ma_10: 10px;

@color_green: #5bba59;
@color_black: #333333;
@color_light_black: #303136;
@color_dark_gray: #555555;
@color_white: #ffffff;
@color_white2: #f7f7f7;
@color_gray: #efefef;
@color_border: #dddddd;

html,
body {
  height: 100%;
  font-size: @f_m;
  background: @color_white2;
  font-family: 'PingFang SC','Microsoft YaHei';
}
/** header **/
.header {
  overflow: hidden;
  border-bottom: 1px solid @color_gray;
  min-width: @content_width;
  background: @color_white;

  .header-content {
    display: block;
    width: @content_width;
    margin: 0 auto;
    position: relative;
    padding: 5px 0 0;

    .jk-site-logo {
      display: inline-block;
      height: 108px;
    }

    .jk-site-theme {
      display: inline-block;
      font-size: @f_xxxl;
      font-weight: normal;
      color: @color_green;
      margin-left: 15px;
      vertical-align: top;
      line-height: 70px;
    }

    .jk-site-hot-line {
      color: @color_black;
      display: inline-block;
      vertical-align: top;
      font-size: @f_xxl;
      font-weight: normal;
      line-height: 56px;
      margin-left: 32px;
    }

    .jk-top-nav-bar {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 0 8px 8px;
      background: @color_green;
      border: 5px solid @color_green;

      .jk-top-nav-item {
        color: @color_white;
        display: block;
        float: left;
        font-size: @f_sm;
        padding: 3px 14px;
        text-align: center;
        border-right: 1px solid @color_white;

        &:last-child {
          border-right: 0;
        }
      }
    }

    .jk-middle-nav-bar {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;

      .jk-middle-nav-item {
        color: @color_dark_gray;
        font-size: @f_l;
        line-height: 50px;
        padding: 10px 15px 11px;

        &.active {
          color: @color_green;
          border-bottom: 4px solid @color_green;
        }
      }
    }
  }
}

/** content **/
.jk-slider-wrapper {
  width: @content_width;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .jk-slider {
    width: @content_width;
    height: 300px;

    a {
      display: block;
    }
  }

  .jk-quick-menu {
    position: absolute;
    width: 300px;
    background-color: @color_white;
    left: 685px;
    top: 10px;

    .jk-quick-menu-list {
      padding: 10px;
      overflow: hidden;

      .jk-quick-menu-item {
        float: left;
        color: @color_black;
        width: (100%-6%)/3;
        margin: 0 3% 10px 0;
        text-align: center;
        line-height: 40px;

        &:nth-child(3n) {
          margin-right: 0;
        }

        & > img {
          height: 44px;
          padding: 5px 0;
        }

        & > p {
          text-align: center;
        }
      }
    }

    .jk-block-title {
      line-height: 36px;
      padding: 6px 0;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      margin: 0 20px;

      i {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: @color_green;
        margin-right: 10px;
      }

      .jk-block-title-more {
        float: right;
      }
    }
  }
}

.jk-article-section-cover {
  width: 100%;
  margin-bottom: 20px;
}

.jk-icon-info {
  display: inline-block;
  background-image: url(../images/icon_info@active.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.jk-icon-order {
  display: inline-block;
  background-image: url(../images/icon_order.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.jk-icon-info-white {
  display: inline-block;
  background-image: url(../images/icon_info.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.jk-icon-view {
  display: inline-block;
  background-image: url(../images/icon_view@active.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.jk-icon-view-gray {
  display: inline-block;
  background-image: url(../images/icon_view@gray.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.jk-icon-rectangle {
  display: inline-block;
  background-image: url(../images/icon_rectangle.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  width: @content_width;
  margin: @ma_10 auto;
  overflow: hidden;

  .jk-block-wrapper {
    overflow: hidden;
    margin-bottom: 10px;

    .jk-block-title {
      font-size: @f_l;
      line-height: 30px;
      font-weight: normal;
      border-bottom: 1px dashed @color_green;

      .jk-block-title-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(../images/icon_leaf.png) center center no-repeat @color_green;
        background-size: 70% 70%;
        vertical-align: middle;
        margin-right: 8px;
      }

      .jk-block-title-more {
        float: right;
        content: '';
        display: inline-block;
        background: url(../images/more.png) center center no-repeat;
        background-size: 70% 70%;
        width: 30px;
        height: 30px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .jk-brand-list {
      margin-top: 20px;
      overflow: hidden;

      .jk-brand-list-item {
        display: block;
        width: 184px;
        margin: 0 20px 20px 0;
        float: left;
        text-align: center;
        background: #ffffff;
        padding: 0 0 15px;
        box-shadow: 0 12px 16px #ededed;
        position: relative;

        .jk-brand-list-item-logo {
          width: 184px;
          height: 184px;
        }

        .jk-brand-list-item-name {
          font-size: @f_l;
          line-height: 24px;
        }

        .jk-brand-list-item-link {
          display: none;
          font-size: @f_m;
          color: #fff;
          background: #5bba59;
          line-height: 30px;
          position: absolute;
          width: 100%;
          bottom: 39px;
        }

        &:hover {
          .jk-brand-list-item-link {
            display: block;
          }
        }
      }
    }

    .jk-article-list-3 {
      margin-top: 20px;
      padding-bottom: 20px;
      overflow: hidden;

      .jk-article-item {
        float: left;
        width: 162px;
        border: 1px solid #f1f1f1;
        margin-right: 20px;
        padding: 8px 10px 10px;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        display: block;

        &:nth-child(5) {
          margin-right: 0;
        }

        &:hover {
          .jk-article-active {
            background-color: @color_green;
            width: 40px;
          }
        }

        img {
          width: 162px;
          height: 162px;
        }

        .jk-article-link {
          color: @color_black;
          font-size: @f_m;
          line-height: 50px;
          position: relative;
          display: block;

          .jk-article-viewer {
            position: absolute;
            right: 0;
            font-size: @f_m;
            color: #555555;

            i {
              width: 16px;
              height: 16px;
              vertical-align: middle;
              background-position-y: 1px;
            }
          }
        }

        .jk-article-active {
          display: block;
          width: 10px;
          height: 10px;
          background-color: @color_gray;
          margin: 0 auto;
        }
      }
    }
  }

  .jk-left-container {
    display: block;
    width: 300px;
    float: left;

    .jk-sub-nav {
      display: block;
      width: 300px;
      background: @color_white;
      text-align: center;
      box-shadow: 0 12px 16px #ededed;

      .jk-sub-nav-header {
        font-weight: normal;
        font-size: @f_xxl;
        line-height: 68px;
        vertical-align: middle;

        .jk-icon-info {
          width: 24px;
          height: 24px;
        }
      }

      .jk-sub-nav-list {
        padding-bottom: 20px;

        .jk-sub-nav-item {
          font-size: @f_l;
          line-height: 36px;
          display: block;
          color: @color_black;

          &.active, &:hover {
            color: @color_green;

            i {
              background-image: url(../images/icon_rectangle.png);
              background-repeat: no-repeat;
              background-size: contain;
              display: inline-block;
              width: @f_l;
              height: @f_l;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }

    .jk-left-qrcode {
      width: 260px;
      padding: 20px;
      background: @color_white;
      box-shadow: 0 12px 16px #ededed;
      margin-top: 20px;
      text-align: center;
      font-size: @f_m;
    }
  }
  .jk-right-container {
    display: block;
    width: 680px;
    float: left;
    margin-left: 20px;

    .jk-tool-bar {
      background: @color_white;
      box-shadow: 0 12px 16px #ededed;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;

      .jk-icon-info-white {
        background-size: 27px 27px;
        background-color: @color_green;
        width: 47px;
        height: 47px;
        background-position: center center;
        float: left;
      }

      .jk-breadcrumb {
        float: left;
        display: inline-block;
        font-size: @f_l;
        line-height: @f_l;
        padding: (47 - @f_l)/2 0;
        margin-left: 20px;

        li {
          float: left;

          a {
            color: @color_black;
            font-size: @f_l;
          }

          &:after {
            content: " > ";
            color: @color_dark_gray;
          }

          &:last-child:after {
            content: "";
          }
        }
      }

      .jk-search-bar {
        border: 1px solid @color_border;
        height: 30px;
        margin: 8.5px 20px 8.5px 0;
        background: #f5f5f5;
        position: absolute;
        right: 0;

        form.active {
          .jk-search-select {
            display: inline-block;
          }

          .jk-search-input {
            display: inline-block;
          }
        }

        .jk-search-select {
          float: left;
          outline: none;
          -webkit-appearance: none;
          display: none;
          height: 30px;
          font-size: @f_m;
          border: none;
          padding: 0 10px;
          cursor: pointer;
        }

        .jk-search-input {
          outline: none;
          -webkit-appearance: none;
          margin: 0;
          border: 0;
          font-size: @f_m;
          line-height: 30px;
          float: left;
          padding: 0 8px;
          display: none;

          &::-webkit-input-placeholder {
            color: darken(@color_gray, 5%);
          }
        }

        .jk-search-btn {
          background: url(../images/icon_search.png) no-repeat center center @color_green;
          background-size: 16px 16px;
          display: inline-block;
          outline: none;
          -webkit-appearance: none;
          margin: 0;
          border: 0;
          padding: 0;
          width: 30px;
          height: 30px;
          font-size: 0;
          float: left;
          cursor: pointer;
        }
      }
    }

    .jk-content-container {
      background: @color_white;
      box-shadow: 0 12px 16px #ededed;
      margin-bottom: 20px;
      padding: 30px;
      overflow: hidden;

      .jk-article-title {
        font-size: @f_xl;
        font-weight: normal;
        line-height: 38px;
        text-align: center;
      }

      .jk-article-info {
        text-align: center;
        position: relative;
        margin: 20px auto;

        .jk-article-date, .jk-article-author {
          color: #999999;
          font-size: @f_m;
          margin-right: 20px;
        }

        .jk-article-viewer {
          border: 1px solid @color_border;
          height: 22px;
          color: @color_black;
          overflow: hidden;
          padding: 0 10px 0 0;

          .jk-icon-view {
            width: 16px;
            height: 16px;
            background-position: center center;
            margin: 0 0 0 6px;
            vertical-align: middle;
          }

          .jk-article-share {
            display: inline-block;
            background: @color_green;
            color: @color_white;
            padding: 0 8px;
            font-size: @f_m;
          }
        }
      }

      .jk-article-content {
        overflow: hidden;
      }

      .jk-article-nav {
        margin: 20px 0 0 0;
        overflow: hidden;

        .jk-article-prev, .jk-article-next {
          color: @color_black;
          font-size: @f_m;
          display: inline-block;
          float: left;
          background-image: url(../images/prev.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left center;
          padding-left: 30px;
        }

        .jk-article-next {
          float: right;
          background-image: url(../images/next.png);
          background-position: right center;
          padding-right: 30px;
        }

        a.jk-article-prev:hover, a.jk-article-next:hover {
          color: @color_green;
        }
      }

      .jk-pagination {
        display: block;
        float: right;
        margin-top: 20px;

        .jk-page-prev, .jk-page-next {
          background-repeat: no-repeat;
          background-size: 60%;
          background-position: center center;
          background-image: url(../images/prev.png);
          display: inline-block;
          float: left;
          width: 27px;
          height: 27px;
          margin-right: 10px;

          &.disabled {
            filter: grayscale(100%);
          }
        }

        .jk-page-next {
          background-image: url(../images/next.png);
          margin-right: 0;
        }

        ul {
          float: left;

          li {
            float: left;
            margin-right: 10px;

            .jk-page-active, .jk-page-negative {
              display: inline-block;
              width: 26px;
              height: 26px;
              background-color: @color_white;
              color: #777777;
              border: 1px solid #dddddd;
              text-align: center;
              line-height: 26px;
            }

            .jk-page-negative {
              background-color: @color_green;
              color: @color_white;
              border-color: @color_green;
            }
          }
        }
      }

      .jk-brand-info {
        img {
          float: left;
          width: 198px;
          border: 1px solid #f1f1f1;
          margin-right: 20px;
        }

        &>div>span:first-child {
          color: @color_green;
        }
      }

      .jk-product-info {
        overflow: hidden;

        .jk-product-image {
          float: left;
          width: 278px;
          height: 278px;
          margin-right: 20px;
          border: 1px solid #dddddd;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .jk-product-attr {
          width: 300px;
          float: left;

          .jk-product-name {
            font-size: 34px;
            margin-bottom: 15px;
            color: #555555;
            font-weight: normal;
          }

          .jk-product-desc {
            font-size: @f_l;
            line-height: 20px;
            margin-bottom: 10px;
          }

          .jk-product-price {
            color: @color_green;
            font-size: 24px;
          }
        }

        .jk-product-button-group {
          display: block;
          text-align: center;

          .jk-btn-apply, .jk-btn-buy {
            font-size: @f_m;
            line-height: 22px;
            border: 1px solid @color_green;
            color: @color_green;
            text-align: center;
            display: inline-block;
            padding: 0 8px;
            border-radius: 12px;
            margin-right: 15px;
          }

          .jk-btn-buy {
            background-color: @color_green;
            color: @color_white;
          }
        }
      }

      .jk-product-detail {
        margin-top: 20px;

        .jk-product-detail-title {
          i {
            width: 22px;
            height: 22px;
          }

          font-size: 22px;
          margin-bottom: 10px;
          font-weight: normal;
          text-align: center;
        }
      }
    }

    .jk-article-list-2 {
      li {
        display: block;

        a {
          height: 50px;
          overflow: hidden;
          display: block;
          color: @color_black;
          font-size: @f_l;
          text-indent: 50px;
          line-height: 50px;
          border-bottom: 1px solid #dddddd;

          &.js-markup-new {
            background: url(../images/markup_new.png) left center no-repeat;
          }

          .jk-article-date {
            float: right;
            color: #999;
            font-size: @f_l;
            line-height: 50px;
          }
        }
      }
    }
  }
}

.footer {
  background: @color_light_black;

  .footer-content {
    width: @content_width;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;

    .jk-footer-qrcode {
      float: left;
      width: 150px;
      margin: 30px 10px 0 0;
    }

    .jk-footer-info {
      float: left;
      width: 660px;
      margin: 30px 0 0 20px;
      position: relative;
      color: @color_white;

      a {
        color: @color_white;
      }

      .jk-bottom-nav-bar {
        text-align: right;
        line-height: 40px;

        .jk-bottom-nav-item {
          border-right: 1px solid #fff;
          padding: 0 10px;

          &:last-child {
            border-right: 0;
          }
        }
      }

      .jk-footer-info-line {
        text-align: left;
        overflow: hidden;
        line-height: 40px;

        p {
          float: right;
        }

        .jk-company-address, .jk-copyright {
          float: left;
        }
      }

      .jk-service-phone {
        float: left;
        font-size: @f_l;
      }
    }
  }
}

.jk-article-list-1 {
  overflow: hidden;
  background: @color_white;
  margin: @ma_10 0 0;
  padding: 25px 20px;

  .jk-article-cover {
    float: left;
    width: 480px;
    position: relative;

    img {
      width: 480px;
      height: 360px;
    }

    .js-article-title {
      line-height: 36px;
      background: rgba(0,0,0,0.4);
      padding: 0 3%;
      position: absolute;
      bottom: 0;
      display: block;
      width: 94%;
      color: @color_white;
      overflow: hidden;

      .jk-article-read {
        float: right;

        .jk-article-read-icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 5px;
          background: url(../images/icon_read.png) center center no-repeat;
          background-size: contain;
          vertical-align: middle;
        }
      }
    }
  }

  .jk-article-list {
    float: left;
    width: 460px;
    line-height: 20px;
    margin-left: 20px;

    dl {
      line-height: 24px;
      margin-top: 5px;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }

      dt {
        font-size: @f_m;
        line-height: 40px;
        color: @color_black;
        border-bottom: 1px solid @color_gray;
        overflow: hidden;

        .jk-article-active-icon {
          display: inline-block;
          width: 10px;
          height: 10px;
          float: right;
          margin: 15px 0;
          background-color: @color_gray;
        }
      }

      dd {
        padding: 10px 13px;
        display: none;
        background: @color_white2;
        font-size: @f_sm;
        margin: 10px 0;

        span {
          display: block;
          overflow: hidden;
        }

        a {
          float: right;
          color: @color_green;
        }
      }

      &.active {
        cursor: inherit;

        dt {
          .jk-article-active-icon {
            width: 30px;
            background-color: @color_green;
          }
        }
      }
    }
  }
}

.jk-product-list {
  overflow: hidden;
  padding-bottom: 30px;

  .jk-product-item {
    width: 198px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    margin: 0 10px 15px 0;
    padding: 10px 10px 20px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;

    &:nth-child(3n) {
      margin-right: 0;
    }

    .jk-product-image {
      width: 200px;
      height: 200px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
      }

      p {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        text-align: center;
        font-size: @f_l;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 34px;
      }
    }

    .jk-product-desc {
      margin-top: 10px;
      font-size: 14px;
      line-height: 20px;
      color: #555555;

      p {
        height: 40px;
      }

      a {
        display: inline-block;
        text-align: center;
        border: 1px solid #5bba59;
        border-radius: 14px;
        line-height: 28px;
        font-size: 14px;
        color: #5bba59;
        padding: 0 15px;
        width: 88px;
        margin: 5px 40px;
      }
    }
  }
}

.jk-sub-title {
  font-size: @f_l;
  font-weight: normal;
  line-height: 2 * @f_l;

  i {
    width: @f_l;
    height: @f_l;
    line-height: 2 * @f_l;
  }
}